{% extends "base.twig" %}
{% set title = "Register" %}
{% set navbarDisable = true %}

{% block content %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="row">
    <form class="col s12">
        <input name="code" type="hidden" required value="{{ code }}">
        <input name="type" type="hidden" required value="">

        <h1>Welcome to apps.lucacastelnuovo.nl</h1>
        <h5>Choose your prefered login method to quickly create your account</h5>

        <div class="row">
            <div class="input-field col s12 m6 xl4 mr-7">
                <input name="github" type="hidden" value="">
                <button onClick="popup('github')" class="col s12 btn-large social github waves-effect waves-light">
                    <i class="fa fa-github"></i> Register with github
                </button>
            </div>

            <div class="input-field col s12 m6 xl4 mr-7">
                <input name="google" type="hidden" value="">
                <button onClick="popup('google')" class="col s12 btn-large social google waves-effect waves-light">
                    <i class="fa fa-google"></i> Register with google
                </button>
            </div>

            <div class="input-field col s12 m6 xl4 mr-7">
                <input name="email" type="hidden" value="">
                <button data-target="email-modal" class="col s12 btn-large social email waves-effect waves-light modal-trigger">
                    <i class="fa fa-envelope"></i> Register with email
                </button>

                <div id="email-modal" class="modal">
                    <div class="modal-content">
                        <div class="row mb-0">
                            <div class="input-field col s12 mb-0">
                                <input id="email-data" type="email" class="validate">
                                <label for="email-data">Email</label>
                                <span class="helper-text" data-error="Valid email is required"></span>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button id="email" class="btn blue accent-4 waves-effect waves-light">Use this email</button>
                    </div>
                </div>

            </div>
        </div>

    </form>
</div>

<script src="/assets/js/register.js"></script>
{% endblock %}
