{% extends "base.twig" %}
{% set title = "Verify Email" %}
{% set navbarDisable = true %}

{% block content %}
<div class="row">
    <div class="col s12 m8 offset-m2 l4 offset-l4">
        <div class="card">
            <div class="card-action blue accent-4 white-text">
                <h3>Verify Email</h3>
            </div>
            <div class="card-content">
                <div class="row center">
                    <a class="waves-effect waves-light btn-large blue accent-4" href="/dashboard">
                        Go to dashboard
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
