<nav>
    <div class="nav-wrapper blue accent-4">
        <a href="{{ navbarDisableBtns ? '#' : '/dashboard' }}" class="brand-logo" style="padding-left: 15px">{{ title }}</a>
        {% if not navbarDisableBtns %}
            <a href="#" data-target="sidenav" class="right sidenav-trigger">
                <i class="material-icons">menu</i>
            </a>
            <ul class="right hide-on-med-and-down">
                <li>
                    <a href="/admin">Admin</a>
                </li>
                <li>
                    <a href="/dashboard">Dashboard</a>
                </li>
                <li>
                    <a href="/settings">Settings</a>
                </li>
                <li>
                    <a href="/auth/logout">Logout</a>
                </li>
            </ul>
        {% endif %}
    </div>

    <ul class="sidenav" id="sidenav">
        <li>
            <a href="/dashboard">Dashboard</a>
        </li>
        <li>
            <a href="/settings">Settings</a>
        </li>
        <li>
            <a href="/auth/logout">Logout</a>
        </li>
    </ul>
</nav>
