{% extends "partials/base.twig" %}
{% set title = "Buy License" %}
{% set navbarPopup = true %}
{% set page_script = "https://gumroad.com/js/gumroad-embed.js" %}

{% block content %}
<div class="row">
    <div class="col s12">
        <div class="gumroad-product-embed" data-gumroad-product-id="{{ id }}" data-gumroad-params="offer_code={{ offer_code }}">
            <div class="progress">
                <div class="indeterminate"></div>
            </div>
        </div>
    </div>
</div>

<script>
    window.addEventListener('message', event => {
        try {
            const data = JSON.parse(event.data);

            if (data.post_message_name === "sale") {
                window.opener.popupCallback({
                    license: data.license_key,
                    id: data.permalink
                });
                
                window.close();
            }
        } catch (error) {/* not an valid purchase*/}
    }, false);
</script>
{% endblock %}
