{% extends "partials/base.twig" %}
{% set title = "Admin" %}

{% block content %}
<h2>Apps <button class="btn blue accent-4 waves-effect waves-light modal-trigger" data-target="app">Create</button></h2>
<div class="row">
    <table class="highlight responsive-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Gumroad ID</th>
                <th>Name</th>
                <th>Url</th>
                <th>Updated At</th>
                <th>Created At</th>
                <th>Active</th>
                <th>Edit</th>
            </tr>
        </thead>

        <tbody>
            {% for app in apps %}
                {% include 'admin/app.twig' %}
            {% endfor %}
        </tbody>
    </table>

    <form id="app" class="modal">
        <div class="modal-content">
            <h4>App</h4>
            <div class="row mb-0">
                <div class="input-field col s12 mb-0">
                    <input id="app-edit-gumroad_id" name="gumroad_id" type="text" class="validate" required value="">
                    <label for="app-edit-gumroad_id">Gumroad ID</label>
                    <span class="helper-text" data-error="Valid gumroad id is required"></span>
                </div>
            </div>
            <div class="row mb-0 mt-0">
                <div class="input-field col s12 mb-0">
                    <input id="app-edit-name" name="name" type="text" class="validate" required value="">
                    <label for="app-edit-name">Name</label>
                    <span class="helper-text" data-error="Valid name is required"></span>
                </div>
            </div>
            <div class="row mb-0 mt-0">
                <div class="input-field col s12 mb-0">
                    <input id="app-edit-url" name="url" type="text" class="validate" required value="">
                    <label for="app-edit-url">Url</label>
                    <span class="helper-text" data-error="Valid url is required"></span>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <input id="app-edit-id" type="hidden" required value="">
            <input id="app-edit-active" name="active" type="hidden" required value="">
            <button class="btn waves-effect waves-light red left" type="button" onClick="deleteApp()">Delete app</button>
            <button class="btn waves-effect waves-light blue accent-4">Update app</button>
        </div>
    </form>
</div>

<h2>Users <button class="btn blue accent-4 waves-effect waves-light modal-trigger" data-target="invite">Invite</button></h2>
<div class="row">
    <table class="highlight responsive-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Github</th>
                <th>Google</th>
                <th>Email</th>
                <th>Updated At</th>
                <th>Created At</th>
                <th>Active</th>
            </tr>
        </thead>

        <tbody>
            {% for user in users %}
                {% include 'admin/user.twig' %}
            {% endfor %}
        </tbody>
    </table>

    <form id="invite" class="modal">
        <div class="modal-content">
            <h4>Invite User</h4>
            <div class="row mb-0">
                <div class="input-field col s12 mb-0">
                    <input id="email" name="email" type="email" class="validate" required>
                    <label for="email">Email</label>
                    <span class="helper-text" data-error="Valid email is required"></span>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn blue accent-4 waves-effect waves-light" type="submit">Send invite</button>
        </div>
    </form>
</div>

<script>window.apps = JSON.parse('{{ apps|json_encode()|raw }}');</script>
<script src="/assets/js/admin.js"></script>
{% endblock %}
