{% extends "partials/base.twig" %}
{% set title = "Admin" %}

{% block content %}
<h2>Apps <button class="btn blue accent-4 waves-effect waves-light modal-trigger" data-target="app">Create</button></h2>
<div class="row">
    <table class="highlight responsive-table">
        <thead>
            <tr>
                <th>Gumroad ID</th>
                <th>Name</th>
                <th>Url</th>
                <th>Updated At</th>
                <th>Created At</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
            {% for app in apps %}
                {% include 'admin/app.twig' %}
            {% endfor %}
        </tbody>
    </table>

    <form id="app" class="modal">
        <div class="modal-content">
            <h4>Create App</h4>
            <div class="row mb-0">
                <div class="input-field col s12 mb-0">
                    <input id="app-id" type="text" class="validate" required value="">
                    <label for="app-id">Gumroad ID</label>
                    <span class="helper-text" data-error="Valid gumroad id is required"></span>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn waves-effect waves-light blue accent-4">Create app</button>
        </div>
    </form>
</div>

<h2>Users <button class="btn blue accent-4 waves-effect waves-light modal-trigger" data-target="invite">Invite</button></h2>
<div class="row">
    <table class="highlight responsive-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Github</th>
                <th>Google</th>
                <th>Email</th>
                <th>Updated At</th>
                <th>Created At</th>
                <th>Active</th>
            </tr>
        </thead>

        <tbody>
            {% for user in users %}
                {% include 'admin/user.twig' %}
            {% endfor %}
        </tbody>
    </table>

    <form id="invite" class="modal">
        <div class="modal-content">
            <h4>Invite User</h4>
            <div class="row mb-0">
                <div class="input-field col s12 mb-0">
                    <input id="invite-email" name="email" type="email" class="validate" required>
                    <label for="invite-email">Email</label>
                    <span class="helper-text" data-error="Valid email is required"></span>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn blue accent-4 waves-effect waves-light" type="submit">Send invite</button>
        </div>
    </form>
</div>

<h2>History <button id="clearHistory" class="btn blue accent-4 waves-effect waves-light modal-trigger">Clear</button></h2>
<div class="row">
    <table class="highlight responsive-table">
        <thead>
            <tr>
                <th>App ID</th>
                <th>User ID</th>
                <th>User Agent</th>
                <th>User IP</th>
                <th>Created At</th>
            </tr>
        </thead>

        <tbody>
            {% for entry in history %}
                {% include 'admin/history.twig' %}
            {% endfor %}
        </tbody>
    </table>
</div>

<script src="/assets/js/admin.js"></script>
{% endblock %}
