{% extends "base.twig" %}
{% set title = "Login" %}
{% set navbarDisable = true %}

{% block style %}
    .modal {
        max-width: 350px;
    }

    .btn.social > :first-child,
    .btn-large.social > :first-child,
    .col.social > :first-child {
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    }
    .btn.social,
    .btn-large.social,
    .col.social {
    padding: 0 2rem 0 0;
    }
    .btn.social i,
    .btn-large.social i,
    .col.social i {
    padding: 0 1rem;
    margin-right: 1rem;
    }
    .btn.social-icon,
    .btn-large.social-icon,
    .col.social-icon {
    padding: 0;
    }
    .btn.social-icon i,
    .btn-large.social-icon i,
    .col.social-icon i {
    padding: 0 1rem;
    margin-right: 0;
    }
    .btn-large.social-icon {
    padding: 0 1rem;
    }
    .col.social {
    width: 100%;
    text-align: left;
    }
    .col.social i.fa-fw {
    width: 3.2rem;
    }
    .github {
    background-color: #444444 !important;
    color: #fff !important;
    }
    .github i {
    color: #fff !important;
    }
    .github:hover {
    background-color: #5e5e5e !important;
    }
    .google {
    background-color: #dd4b39 !important;
    color: #fff !important;
    }
    .google i {
    color: #fff !important;
    }
    .google:hover {
    background-color: #e47365 !important;
    }
    .email {
    background-color: #eff7ff !important;
    color: #000 !important;
    }
    .email i {
    color: #000 !important;
    }
    .email:hover {
    background-color: #ffffff !important;
    }
{% endblock %}

{% block content %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="row">
    {% if message %}
        <div class="col s12">
            <div class="card-panel hoverable z-depth-2">
                <span class="flow-text">
                    {{ message }}
                </span>
            </div>
        </div>
    {% endif %}
    <div class="col s12 l6">
        {% include 'index/login.twig' %}
    </div>

    <div class="col s12 l6">
        {% include 'index/register.twig' %}
    </div>
</div>
{% endblock %}

{% block script %}
    {% include 'index/index.js' %}
{% endblock %}
