{% extends "partials/base.twig" %}
{% set title = "Settings" %}
{% set navbarDisable = false %}
{% set page_css = "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" %}
{% set page_script = "settings.js" %}

{% block content %}
<div class="row">
    {% include 'settings/login.twig' %}

    {% include 'settings/license.twig' %}

    <h3>Delete Account:</h3>
    <div class="row">
        <p>
            <button class="btn-small waves-effect waves-light red" onClick="removeAccount()">
                Delete Account
            </button>
        </p>
    </div>
</div>
{% endblock %}
