{% extends "base.twig" %}
{% set title = "Settings" %}

{% block content %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="row">
    {% include 'settings/login.twig' %}

    {% include 'settings/license.twig' %}

    <h3>Delete Account:</h3>
    <div class="row">
        <p>
            <button class="btn-small waves-effect waves-light red" onClick="removeAccount()">
                Delete Account
            </button>
        </p>
    </div>
</div>

<script src="/assets/js/settings.js"></script>
{% endblock %}
