{% extends "base.twig" %}
{% set title = "Dashboard" %}

{% block content %}
<h2>Apps</h2>
<div class="row">
    {% for app in apps %}
        {% include 'user/app.twig' %}
    {% endfor %}
</div>

<script src="https://gumroad.com/js/gumroad.js"></script>
<script src="/assets/js/dashboard.js"></script>
{% endblock %}
