{% extends "base.twig" %}
{% set title = "Dashboard" %}

{% block content %}
    <h2>Templates</h2>
    <div class="row">
        {% include 'user/dashboard/create_template.twig' %}
    </div>
{% endblock %}
