<div class="card">
    <div class="card-action blue accent-4 white-text">
        <h3>Login</h3>
    </div>
    <div class="card-content">
        {% if logged_in %}
            <div class="row">
                <a class="col s12 m8 offset-m2 waves-effect waves-light btn-large blue accent-4" href="/dashboard">
                    Go to dashboard
                </a>
            </div>
        {% else %}
            <div class="row">
                <button class="col s12 m8 offset-m2 waves-effect waves-light btn-large social github" onClick="redirect('/auth/github/request')">
                    <i class="fa fa-github"></i> Sign in with github
                </button>
            </div>
            <div class="row">
                <button class="col s12 m8 offset-m2 waves-effect waves-light btn-large social google" onClick="redirect('/auth/google/request')">
                    <i class="fa fa-google"></i> Sign in with google
                </button>
            </div>
            <div class="row">
                <button class="col s12 m8 offset-m2 waves-effect waves-light btn-large social email modal-trigger" data-target="auth-signin-email">
                    <i class="fa fa-envelope"></i> Sign in with email
                </button>
                <form id="auth-signin-email" class="modal">
                    <div class="modal-content">
                        <h4>Signin with email</h4>
                        <div class="row mb-0">
                            <div class="input-field col s12 mb-0">
                                <input id="email" name="email" type="email" class="validate" required>
                                <label for="email">Email</label>
                                <span class="helper-text" data-error="Valid email is required"></span>
                            </div>
                        </div>
                        <div class="row mb-0">
                            <div class="input-field col s12 mb-0 mt-0">
                                {% include 'partials/captcha.twig' %}
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn blue accent-4 waves-effect waves-light" type="submit">Send login link</button>
                    </div>
                </form>
            </div>
        {% endif %}
    </div>
</div>
