<form id="auth-signin-email" class="modal">
    <div class="modal-content">
        <h4>Signin with email</h4>
        <div class="row">
            <div class="input-field col s12">
                <input id="email" name="email" type="email" class="validate" required value="c19e6067-cc6e-4ef7-9b15-107890b63e88@usehelo.cloud">
                <label for="email">Email</label>
                <span class="helper-text" data-error="Valid email is required"></span>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                {% include 'partials/captcha.twig' %}
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn blue accent-4 waves-effect waves-light" type="submit">Send login link</button>
    </div>
</form>
